# Binaries
*.exe
*.dll
*.so
*.dylib
*.a

# Dependency directories
/vendor
/node_modules

# IDE files
.idea/
.vscode/
*.iml
*.o

# Go build cache
/go/pkg/mod/cache/
/go/pkg/tool/

# Compiled test files
*.test
*.test.exe

# Caches
__pycache__/
.DS_Store

# logs
*.log